@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  border-style: solid;
  border-color: cyan;
  border-width: 0.2rem;
  border-radius: 0rem;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  box-sizing: border-box; /* Include padding and border in element's total width and height */
}

h1, h2, h3, p {
  margin: 0; /* Reset margin for headings and paragraphs */
}

.typing-cursor {
  color: rgb(255, 255, 255);
  display: inline-block;
  width: 0px;
  height: 0em;
  animation: blink 0.99s infinite;
}

/* Blinking Cursor Keyframes */
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@media (max-width: 768px) {
  body {
    padding: 1rem; /* Add padding for smaller screens */
  }
}

/*=========================================================*/
