@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  border-style: solid;
  border-color: cyan;
  border-width: 0.2rem;
  border-radius: 0rem;
}

.typing-cursor {
  color: rgb(255, 255, 255);
  display: inline-block;
  width: 0px;
  height: 0em;
  animation: blink 0.99s infinite;
}

/* Blinking Cursor Keyframes */
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

/*=========================================================*/

/* LinkedIn style */
.linkedin-style {
  border: 2px solid #0077b5; /* LinkedIn blue */
  border-radius: 8px;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
}

.linkedin-style h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.linkedin-style h4 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.linkedin-style ul {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.linkedin-style li {
  font-size: 1rem;
  color: #333; /* Dark text color */
}

.linkedin-button {
  background-color: #0077b5; /* LinkedIn blue */
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.linkedin-button:hover {
  background-color: #005e8e; /* Darker shade of LinkedIn blue */
}
