@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  border-style: solid;
  border-color: cyan;
  border-width: 0.2rem;
  border-radius: 0rem;
}

.typing-cursor {
  color: rgb(255, 255, 255);
  display: inline-block;
  width: 0px;
  height: 0em;
  animation: blink 0.99s infinite;
}

/* Blinking Cursor Keyframes */
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
