@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  border-style: solid;
  border-color: rgb(16, 219, 192);
  border-width: 2px;
  border-radius: 1rem;
}

.typing-cursor {
  color: rgb(255, 255, 255);
  display: inline-block;
  width: 0px;
  height: 0em; /* Adjust height to match your text */
  animation: blink 0.99s infinite; /* Apply the blinking animation */
}

/* Blinking Cursor Keyframes */
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
